<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      Catalogd!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-list>
      <ion-item *ngFor="let i of itemList">
        <ion-icon name="star" slot="start" size="large" color="warning"></ion-icon>
        <ion-label>
          <ion-text color="primary">
            <h2>
              {{i.titulo}}
            </h2>
          </ion-text>
          <ion-text>
            <p>
              {{i.subtitulo}}
            </p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
