<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      Catalogd!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-list *ngIf="itemList.length>0">
      <ion-item *ngFor="let i of itemList">
        <ion-icon name="star" slot="start" size="large" color="warning"></ion-icon>
        <ion-label>
          <ion-text color="primary">
            <h2>
              {{i.titulo}}
            </h2>
          </ion-text>
          <ion-text>
            <p>
              {{i.subtitulo}}
            </p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div id="container" *ngIf="itemList.length==0">
    <ion-icon name="bug-outline"></ion-icon>
    <ion-text>
      <h1>
        Oh não! A lista está vazia!
      </h1>
    </ion-text>
    <ion-text>
      <p>
        Parece que você ainda não tem nenhum item na sua lista.
      </p>
    </ion-text>
  </div>
</ion-content>
