.item-image {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.item-title {
    font-size: x-large;
}

.item-subtitle {
    font-size: larger;
}

.item-additionalField{
    .label-value{
        flex-grow: 2;
    }
    
    .label-name{
        font-size: medium;
    }
}
